@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --text: 255, 255, 255;
  --background: 20, 22, 35;
  --primary: 100, 105, 130;
  --secondary: 28, 33, 45;
  
  --success: 50, 200, 50;
  --danger: 255, 100, 100;
  --neutral: 50, 100, 200;

  --shdw-1: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shdw-2: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; 
  --shdw-3: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

* {
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  color: rgb(var(--text));
}

body, html {
  margin: 0;
  background-color: rgb(var(--background));
}

a {
  color: rgb(var(--text));
  text-decoration: none;
}

button, select, input, textarea {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.35s ease all;
  background-color: transparent;
  border: 1px solid rgb(var(--primary));

  &:hover, &:focus {
    border-radius: 0;
    outline: none;
  }

  &.minimal {
    border: none;
    padding: 0;
  }
}

select {
  width: fit-content;
}

button:hover, input[type="submit"]:hover {
  cursor: pointer;
}

h1, h2, h3 {
  margin: 1rem 0;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}

.container {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
