.header {
  background-color: rgb(var(--secondary));
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 2rem;
    height: 2rem;
  }

  section {
    display: flex;
    gap: 1rem;
  }
}
